html,
body {
  background-color: black;
  letter-spacing: 5px;
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
  margin-top: 10px;
}

body {
  overflow-y: auto;
}

h3 {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
}

.primary-bg {
  background-color: #ffd700;
}

a {
  font-family: "Source Code Pro", monospace;
  border: #18cae6 2px solid;
  display: block;
  font-size: 1.8rem;
  line-height: 3rem;
  text-decoration: none;
  color: white;
}

a:hover {
  border: #df740c 2px solid;
  color: #fff;
}

.center {
  text-align: center;
}

.a-left {
  text-align: left;
}

.mv-4 {
  margin: 2em 0;
}

.mh-1 {
  margin: 0 1em;
}

.mb-1 {
  margin-bottom: 15px;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-3 {
  margin-top: 60px;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
supported by Chrome, Opera and Firefox */
}

.ph-2 {
  padding: 0 1em;
}

.d-inblock {
  display: inline-block;
}
